.reveal {
  --slide-background: white;
  --text-color: black;
  --primary-color: gray;
  --accent-color: blue;
}

.reveal h1, .reveal h2, .reveal h3 {
  color: black;
}

.reveal p, .reveal li {
  color:  #4a90e2;
}

.reveal a {
  color: blue;
}

.reveal .slide-number {
  color: grey;
}

.citation {
  color: grey;  /* A soft blue */
}

a[role="doc-biblioref"] {
    color: grey; /* Example: a subtle green */
}

.reveal .fade-in-then-semi-out {
    transition: opacity 0.8s ease-in-out;
}
.reveal .fade-in-then-semi-out.fragment:not(.visible) {
    opacity: 0.3; /* Semi-transparent when not active */
}
.reveal .fade-in-then-semi-out.fragment.current-fragment {
    opacity: 1; /* Fully visible when active */
}